<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - FootballPlayers</title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    @RenderBody()
    <script src="~/jquery/dist/jquery.min.js"></script>
    <script src="~/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/createTeam.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
